#Header {
    position: fixed;

    border: 1px solid black;
    background-color: #FF7FF3;
    width: 98%;
    height: 180px;

    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

    top: 0px;
    left: 0px;
}

#Content {
    position: absolute;

    border: 1px solid black;
    background-color: whitesmoke;

    width: 98%;
    overflow: auto;

    padding: 20px;

    margin-top: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#beers table {
    width: 80%;
    align: center;
    margin: 0 auto;
}

#beers th, td {
    border-bottom: 1px solid #999;
    width: 15%;
    padding: 10px;
    text-align: left;
}

#beers th {
    font-size: 1.2em;
    background-color: lightgreen;
    color: white;
}

#beers tbody tr:hover {
    background-color: #ffff99;
}
